################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetworkSample/obj
/NetworkSample/bin/x86/Debug
/NetworkSample/bin/ARM/Debug
